<li id="<%= comment._id%>">
    <div> <%= comment.content %>  </div>
    <small>Commented By - <%= comment.user.name %>  </small>
    <% if(comment.user.id==user.id || post.user.id==user.id){ %> 
        <a href="/user/post/delete-comment/<%= comment.id%>" class="delete-comment">
            <small>Remove</small>
        </a>
    <% } %> 
    <div>
        <% var matched = false ;%>  
        <% for(let userId of comment.likes) {%>
            <% if(userId == user.id) {%>
                <% matched = true; %>
                <span class="like-button" data-belongid="<%= comment._id %>" style="color: red;">
                    <i class="fas fa-thumbs-up"></i>
                </span>
                <% break; %> 
            <% } %>  
        <% } %>  
        <% if(!matched) {%>
            <span class="like-button" data-belongid="<%= comment._id %>" style="color: white;">
                <i class="fas fa-thumbs-up"></i>
            </span>
        <% } %>  
        <span class="like-meter">
            <%= comment.likes.length %> 
        </span>
    </div>
</li>