<div> 
    <span class="post-content">
        <%= post.content %>
    </span>
    <%  if(user.id === post.user.id) { %>
        <a href="/user/post/delete-post/<%= post._id%>" class="post-delete"><small>Delete Post</small></a>
    <% } %> 
</div>
<div class="post-author"><small>Author - <%= post.user.name %></small></div>
<div class="post-date">
    <small>Created At - <%= post.createdAt %></small>
</div>
<div>
    <% var matched = false ;%>  
    <% for(let userId of post.likes) {%>
        <% if(userId == user.id) {%>
            <% matched = true; %>
            <span class="like-button" data-belongid="<%= post._id %>" style="color: red;">
                <i class="fas fa-thumbs-up"></i>
            </span>
            <% break; %> 
        <% } %>  
    <% } %>  
    <% if(!matched) {%>
        <span class="like-button" data-belongid="<%= post._id %>" style="color: white;" %>;">
            <i class="fas fa-thumbs-up"></i>
        </span>
    <% } %>  
    <span class="like-meter">
        <%= post.likes.length %> 
    </span>
</div>