<link rel="stylesheet" href="/css/home.css">

<div>
    <h1> Welcome To Socialization </h1>
    <div id="home-section">
        <% if(locals.user){ %>
            <div id="home">
                <h2> Hey <%= user.name %> !</h2>
        
                <h4>Create Post</h4>
                
                <form action="/user/post" method="POST" id="post-form">
                    <textarea name="content" class="post-form-value" cols="30" rows="5" placeholder="Write your post" required></textarea>
                    <button type="submit">POST</button>
                </form>
                <h4>YourPost</h4>
        
                <ol type="1" id="your-post">
                    <% for(var post of userPost)  {%>
                        <li id="<%= post.id %>">
                            <%-include('_postList',{post:post})-%>
        
                            <!--          Comment Section (FORM)         -->
        
                            <div>
                                <p>Add Comments - </p>
                                <form action="/user/post/comment" method="POST" id="comment-form-<%= post.id%>">
                                    <input type="text" name="content" placeholder="Add Comment Here ..." required> 
                                    <input type="hidden" name="postId" value="<%= post._id%>" >
                                    <button type="submit">Comment</button>
                                </form>
                            </div>
                            
                            <!--          Comment Listing Section          -->
                            <div>
                                <p>Comments on this post</p>
                                <ol type="i" id="comment-list-<%= post.id %>">
                                    <% for(var comment of post.comments) { %> 
        
                                        <%-include('_commList',{comment:comment,post : post})-%>
            
                                    <% } %>
                                </ol>
                            </div>
                            <hr>
                        </li>
                        
                    <% } %>
                </ol>
                
            
            
                
            </div>
        
            <div id="friends">
                <h3>YOUR FRIENDS</h3>
                <% for(var friend of userFriends){ %> 
                    <div><a href="/user/friend-profile/<%= friend.id%>"> <%= friend.name %> </a> </div>
                <% } %> 
            </div>
        
        <% } %>
    </div>
    
</div>
<script src="/js/homeEJS.js"></script>
