<div>
    <h3>friends profile page</h3>
    <img src="<%= friend.avatar%>" alt="<%= friend.name%>" width="200px" height="200px">
    <p>name - <%= friend.name %> </p>
    <p>email - <%= friend.email %> </p>
    <p>registered at - <%= friend.createdAt %> </p>
    <a href="/">HOME</a>
</div>